body {
    background-color: #e3cdf5;
    font-family: Arial, Helvetica, sans-serif;
    color: #4c4452;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 100px;
    color: #a25de6;
}
header {
    grid-area: 1 / 1 / 2 / 3;
}

#temperature-box {
    background-color: #fffade;
    grid-area: 2 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
}
#temperature-box h2 {
    grid-area: 1 / 1 / 2 / 4;
    justify-self: left;
    align-self: end;
}
#increaseTempButton {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 200%;
    align-self: end;
}
#tempValue {
    grid-area: 3 / 1 / 4 / 2;
    font-size: 200%;
}
#decreaseTempButton { 
    grid-area: 4 / 1 / 5 / 2; 
    font-size: 200%;
    align-self: start;
}
#liveTemperatureButton { grid-area: 2 / 2 / 5 / 4; }

button {
    background-color: #ad7ae0;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

button:hover{
    background-color: #e3cdf5;
}

#city-box {
    background-color: #b1ddff;
    grid-area:  2 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-content: space-evenly; 
    justify-content: space-evenly;
}

#city-box h2 {
    justify-self: flex-start;
}

#city-name {
    font-size: 140%;
}

#city-box button{
    align-self: flex-start;
    margin-left: 35%;
}

#city-box input {
    align-self: flex-start;
    margin-left: 10%;
}

#landscape-box {
    grid-area: 4 / 1 / 6 / 3;
    background-color: #c3fcf1;
    display: flex;
    flex-direction: column;
    align-content: space-evenly; 
    justify-content: space-evenly;
}

.landscape-icon {
    font-size: 300%;
    text-align: center;
    margin-bottom: 10%;
}

label {
    font-weight: bold;
    margin-left: 8%;
}

select {
    align-self: flex-start;
    margin-left: 16%;
}

.container-style {
    padding: 0 20px;
    margin-bottom: 50px;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 50%;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
    background-color: #ad7ae0;
}

.green {
    color: green;
}

.teal {
    color: teal;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    background-color: #fdf7ff;
}